# uses the .env file to createe multiple instances of prestashop at once 
# for test purpose.
# see :
# https://medium.com/@neokree/prestashop-module-development-automation-journey-part-1-1e52f9031b97
version: "3"

services:
  mysql:
    image: mysql/mysql-server:5.7
    restart: always
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=1
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWD}
      - MYSQL_DATABASE=${DB_NAME}

  prestashop_1.6.1:
    image: prestashop/prestashop:1.6
    depends_on:
      - mysql
    ports:
      - 8080:80
    # module folder is mapped for developpement purpose (works only on prestashop 1.6)
    volumes:
      - ./${PS_MODULE_NAME}:/var/www/html/modules/${PS_MODULE_NAME}
    environment:
      - DB_SERVER=mysql
      - DB_PREFIX=ps161_
      - PS_DEV_MODE=${PS_DEV_MODE}
      - PS_INSTALL_AUTO=1
      - DB_USER=${DB_USER}
      - DB_PASSWD=${DB_PASSWD}
      - DB_NAME=${DB_NAME}
      - PS_FOLDER_ADMIN=${PS_FOLDER_ADMIN}
      - PS_DOMAIN=${PS_DOMAIN}:8080
      - PS_LANGUAGE=${PS_LANGUAGE}
      - PS_COUNTRY=${PS_COUNTRY}
      - PS_FOLDER_INSTALL=installed

  # prestashop_last:
  #   image: prestashop/prestashop
  #   depends_on:
  #     - mysql
  #   ports:
  #     - 8080:80
  #   environment:
  #     - DB_SERVER=mysql
  #     - DB_PREFIX=ps161_
  #     - PS_DEV_MODE=${PS_DEV_MODE}
  #     - PS_INSTALL_AUTO=1
  #     - DB_USER=${DB_USER}
  #     - DB_PASSWD=${DB_PASSWD}
  #     - DB_NAME=${DB_NAME}
  #     - PS_FOLDER_ADMIN=${PS_FOLDER_ADMIN}
  #     - PS_DOMAIN=${PS_DOMAIN}:8080
  #     - PS_LANGUAGE=${PS_LANGUAGE}
  #     - PS_COUNTRY=${PS_COUNTRY}
  #     - PS_FOLDER_INSTALL=installed